<div id="ordering" data-role="page">
<!--#include virtual="../../../../common/templates/header.html" -->
<!--include virtual="../../../../common/templates/menu.html" -->
<div role="main" id="main-content" class="content-wrapper" data-role="content">

<h1>
    <div>
        <p class="Basic-Paragraph">
<span class="ordering-title">
Ordering Information
</span>
        </p>
    </div>
</h1>

<div>
<table id="table-5" class="TableOverride-1">
<colgroup>
    <col/>
    <col/>
</colgroup>
<thead>
<tr>
    <td class="CellOverride-7" colspan="2">
        <p class="Basic-Paragraph">
<span class="table-header">
Polarus&reg; 3 Standard Plates
</span>
        </p>
    </td>
</tr>
</thead>
<tbody>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 4&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
    <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0104L&dash;S
</span>
    </p>
</td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 4&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0104R&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 6&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0106L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 6&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0106R&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 10&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0110L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 10&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0110R&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 14&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0114L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 14&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0114R&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 18&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0118L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 18&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0118R&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 22&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0122L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Standard Plate 22&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0122R&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-7" colspan="2">
        <p class="Basic-Paragraph top-margin">
<span class="table-header">

    Polarus&reg; 3 Posterior Plates
</span>
        </p>
    </td>
</tr>
<tr class="_idGenTableRowColumn-1">
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Posterior Plate 4&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0204L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Posterior Plate 4&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0204R&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Posterior Plate 6&dash;hole L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0206L&dash;S
</span>
        </p>
    </td>
    </tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Posterior Plate 6&dash;hole R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;0206R&dash;S
</span>
        </p>
    </td>
</tr>

<tr class="_idGenTableRowColumn-1">
    <td class="CellOverride-7">
        <p class="Basic-Paragraph top-margin">
<span class="table-header">
Polarus&reg; 3 Proximal Nails
</span>
        </p>
    </td>
    <td class="CellOverride-7"/>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Proximal Locking Nail 150 mm L
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4001&dash;1015L&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Proximal Locking Nail 150 mm R
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4001&dash;1015R&dash;S
</span>
        </p>
    </td>
</tr>

<tr class="_idGenTableRowColumn-1">
    <td class="CellOverride-7">
        <p class="Basic-Paragraph top-margin">
<span class="table-header">
Polarus&reg; 3 Distal Nails
</span>
        </p>
    </td>
    <td class="CellOverride-7"/>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Locking Nail 200 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4002&dash;10200&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Locking Nail 220 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4002&dash;10220&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Locking Nail 240 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4002&dash;10240&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Locking Nail 260 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4002&dash;10260&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Locking Nail 280 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4002&dash;10280&dash;S
</span>
        </p>
    </td>
</tr>

<tr class="_idGenTableRowColumn-1">
    <td class="CellOverride-7">
        <p class="Basic-Paragraph top-margin">
<span class="table-header">
Polarus&reg; 3 Cap Screws and Washers
</span>
        </p>
    </td>
    <td class="CellOverride-7"/>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Cap Screw 0 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4004&dash;10000&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Cap Screw 2 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4004&dash;10002&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Cap Screw 4 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4004&dash;10004&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Cap Screw 6 mm
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
4004&dash;10006&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 8 mm Washer, Locking
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
7001&dash;03001&dash;S
</span>
        </p>
    </td>
</tr>

<tr class="_idGenTableRowColumn-1">
    <td class="CellOverride-7">
        <p class="Basic-Paragraph top-margin">
<span class="table-header">
Polarus&reg; 3 Instruments
</span>
        </p>
    </td>
    <td class="CellOverride-7"/>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Guide Wire, 20&rdquo; Blunt
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
35&dash;0008
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Guide Wire, 20&rdquo; Trocar Tip
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
35&dash;0009
</span>
        </p>
    </td>
</tr><tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 2.8 mm Surgibit&reg; Short Drill
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
80&dash;1592
</span>
        </p>
    </td>
</tr><tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 Plate Tack
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
80&dash;1595
</span>
        </p>
    </td>
</tr><tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 2.8 mm Blunt Short Drill
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
80&dash;1597
</span>
        </p>
    </td>
</tr><tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 2.8 mm Surgibit&reg; Long Drill
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
80&dash;1624
</span>
        </p>
    </td>
</tr><tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
Polarus&reg; 3 2.8 mm Blunt Long Drill
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
80&dash;1634
</span>
        </p>
    </td>
</tr><tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
2.0 mm X 9&rdquo; ST Guide Wire
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
WS&dash;2009ST
</span>
        </p>
    </td>
</tr>

<tr class="_idGenTableRowColumn-1">
    <td class="CellOverride-7">
        <p class="Basic-Paragraph top-margin">
<span class="table-header">
4.3 mm Low&dash;Profile Hexalobe Screws
</span>
        </p>
    </td>
    <td class="CellOverride-7"/>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 18 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43018&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 20 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43020&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 22 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43022&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 24 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43024&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 26 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43026&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 28 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43028&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 30 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43030&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 32 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43032&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 34 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43034&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 36 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43036&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 38 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43038&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 40 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43040&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 42 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43042&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 44 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43044&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 46 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43046&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 48 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43048&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 50 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43050&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 52 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43052&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 54 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43054&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 56 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43056&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 58 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43058&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 60 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43060&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 62 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43062&dash;S
</span>
        </p>
    </td>
</tr>
<tr>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph">
<span class="table-cell">
4.3 mm x 64 mm Low&dash;Profile Hexalobe Screw
</span>
        </p>
    </td>
    <td class="CellOverride-8">
        <p class="Basic-Paragraph ParaOverride-2">
<span class="table-cell">
3011&dash;43064&dash;S
</span>
        </p>
    </td>
</tr>
</tbody>
</table>
</div>
<div class="Full-Text-Frame">
    <p class="Basic-Paragraph ParaOverride-11">
<span class="body-copy">
To learn more about the full line of Acumed&reg; innovative
surgical solutions, please contact your local Acumed&reg;
Sales Representative, call 888.627.9957, or
visit acumed.net.
</span>
    </p>


</div>
</div>
<!--#include virtual="../../../../common/templates/footer.html" -->

</div>
