<!--extends layout--><!--block content-->
<div id="title" data-role="page" onscroll="calcAsideBar()">
    <section>
        <figure id="sectionId">
            <div>
            <img id="polTitleImg" src="assets/images/Polarus_PNGs/title-main-hi.jpg"/>
                </div>
        </figure>
        <article id="sectionText">
            <h1>Acumed&reg; Polarus&reg; 3 Solution</h1>
            <h1>Plates and Nails</h1>
            <p class="Basic-Paragraph bottom-margin">
                <span class="body-copy">
                    The Acumed Polarus 3 Solution has been designed to offer plate
and nail options to treat proximal humerus fractures. The system
is comprised of instrumentation to perform both plate and nail
surgeries. While they are provided together for convenience, a
plate and nail should not be used on the same fracture. The system
introduces a number of improvements to the implants as well as
advancements in instrumentation compared to the first generation
Polarus Nail, Polarus Plus Nail, and Polarus Proximal Humerus Plate
(PHP). The information included in this surgical technique provides
the recommended procedures for implantation and removal.
                    </span>
                </p>
            <p class ="Basic-Paragraph bottom-margin">
                    <span id="indications">Indications for use:</span> The Acumed Polarus 3 Solution includes plates, nails, screws, and accessories designed to address fractures, fusions, and osteotomies of the humerus.
            </p>

            <p style="font-size: 1.1em; text-align: center; margin: 0 auto;">
                <a href="http://www.acumed.net/products/shoulder/proximal-humerus/polarus-3-solution" target="_blank">www.acumed.net</a>
            </p></article>
    </section>
    <aside id="asTitle">
        <blockquote>Acumed&reg; is a global leader of innovative orthopaedic and medical solutions.<br/><br/>We are
            dedicated to developing products, service methods, and approaches that improve patient care.
        </blockquote>

        <img src="assets/images/Polarus_PNGs/title-xray-hi.jpg"/>

        <ul>
            <li><h1>Polarus&reg; 3 Solution Design Surgeon</h1><br/>

                    <h2>Mr. Christopher Michael Robinson</h2>
                    <h2>BM BS, B Med Sci, FRCS (Edin)</h2></li>
        </ul>
        <div class="asideBottom" style="background-color: #F5E536;"></div>
    </aside>


    <div id="asideBottom"></div>
    <script type="text/javascript">
        asideHeight();
    </script>
    </div>